.movie {
  padding: 3.2rem;
  border: 1px solid pink;

  &__poster {
    width: 16rem;
    height: 23rem;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  &__info {
    border: 1px solid green;
  }

  &__title {
    border: 1px solid green;
  }

  &__description {
    border: 1px solid green;
  }

  &__subinfo {
    border: 1px solid green;
  }
}
