@import "@/shared/styles";

.movie {
  color: $grey-darker;

  &__card {
    width: 16rem;
    margin-bottom: 4px;
    overflow: hidden;
  }

  &__posterContainer {
    height: 23rem;
  }

  &__poster {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding: 0 0.8rem;
  }
}
