@import "@/shared/styles";

.movie {
  color: $grey-darker;

  &__card {
    margin-bottom: 4px;
    overflow: hidden;
  }

  &__posterContainer {
    min-width: 16rem;
    max-width: 16rem;
    height: 23rem;
  }

  &__poster {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding: 0 0.8rem;
  }

  &__altImage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    text-align: center;
    word-wrap: break-word;
  }

  @include --mobile() {
    &__card {
      margin-bottom: 2px;
    }

    &__posterContainer {
      min-width: 14rem;
      max-width: 14rem;
      height: 20rem;
    }
  }
}
